image:
  repository: "raam2023/web-calculator"
  tag: " "
  pullPolicy: Always

replicaCount: 1 # Adjust as per your scaling needs

service:
  type: LoadBalancer
  port: 3000
  targetPort: 3000

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
  hosts:
    - host: web-calculator.example.com  # Change this to your domain
      paths:
        - path: "/"
          pathType: ImplementationSpecific

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

nodeSelector: {}

tolerations: []

affinity: {}

deployment:
  enabled: true
  name: web-calculator
  labels:
    app: web-calculator
  selectorLabels:
    app: web-calculator
  replicas: 2
  container:
    name: web-calculator
    env: []
    readinessProbe:
      httpGet:
        path: "/"
        port: 3000
      initialDelaySeconds: 5
      periodSeconds: 10
      failureThreshold: 3
    resources:
      limits:
        cpu: "500m"
        memory: "512Mi"
      requests:
        cpu: "250m"
        memory: "256Mi"

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
# Updated at Thu Mar 20 07:18:26 UTC 2025
# Updated at Thu Mar 20 07:22:23 UTC 2025
# Updated at Fri Mar 21 06:36:14 UTC 2025
# Updated at Fri Mar 21 06:47:01 UTC 2025
# Updated at Fri Mar 21 06:56:19 UTC 2025
